# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/android/app/google-services.json
mobile/ios/Runner/GoogleService-Info.plist
mobile/android/local.properties

# General
.DS_Store
*.log
.idea/
mobile/ios/Runner/AppDelegate.swift
mobile/ios/Flutter/Debug.xcconfig
mobile/ios/Flutter/Release.xcconfig